.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;

    height: 70px;
    padding: 0 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #503629;
    color: white;

    box-shadow: 0 2px 10px rgba(0,0,0,.08);
}

.navbar-user{
    display:flex;
    align-items:center;
    gap:15px;
}

.navbar-avatar{
    width:45px;
    height:45px;
    border-radius:50%;
    object-fit:cover;
}

.navbar h4{
    margin:0;
    font-size:15px;
    font-weight:600;
}

.navbar-logout{
    padding:10px 18px;
    border:none;
    border-radius:8px;
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
    font-weight:600;
    transition:.2s;
}