.kpi {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 1px solid #dbe2ea;
  border-radius: 1rem;
  overflow: hidden;
  margin: 1rem;
}

.kpis {
  padding: 0 20px;
  min-height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 1px solid #dbe2ea;
}

.kpis:last-child {
  border-right: none;
}

.kpis small {
  font-size: 0.95rem;
}

.kpis h2 {
  margin: 0;
  font-size: 2rem;
}

.grafico {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid #dbe2ea;
    border-radius: 1rem;
    overflow: hidden;
    margin: 1rem;    
}

.graficos {
    padding: 0 20px;
    min-height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid #dbe2ea;
}

.grafico small {
    font-size: 0.95rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

.grafico:last-child {
  border-right: none;
}

.tabla {
  border: 1px solid #dbe2ea;
  border-radius: 1rem;
  overflow: hidden;
  margin: 1rem;
}

.tablas {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.tablas thead {
    
}

.tablas th {
   padding: 12px;
}